.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f990;
  padding: 20px;
  margin-top: -50px;
  &__container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    &__message {
      color: #d9534f; // Màu đỏ cho thông báo lỗi
      text-align: center;
      margin-bottom: 15px;
    }

    &__form {
      display: flex;
      flex-direction: column;
    }
    &__label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    &__input {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border-color: #3f51b5; // Màu xanh cho border khi focus
        outline: none;
      }
    }

    &__button {
      padding: 10px;
      background-color: #3f51b5;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #303f9f; // Màu tối hơn khi hover
      }
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    &__container {
      padding: 20px;
      width: 90%;
    }
  }
}